<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>$schema</key>
    <string>https://raw.githubusercontent.com/martinring/tmlanguage/master/tmlanguage.json</string>
    <key>fileTypes</key>
    <array>
      <string>enso</string>
    </array>
    <key>name</key>
    <string>Enso</string>
    <key>patterns</key>
    <array>
      <dict>
        <key>include</key>
        <string>#keywords</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#strings</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#entity</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#constant</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#comments</string>
      </dict>
    </array>
    <key>repository</key>
    <dict>
      <key>keywords</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>keyword.other</string>
            <key>match</key>
            <string>\b(self|type)\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.control</string>
            <key>match</key>
            <string>\b(case|of|if|then|else)\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.control.import</string>
            <key>match</key>
            <string>\b(import as|export as|from all hiding|polyglot java)\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.control.import</string>
            <key>match</key>
            <string>^import\s+.+(\s+as.+)?$</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.control.import</string>
            <key>match</key>
            <string>^from\s+.+(\s+as.+)?\s+import.+$</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.control.import</string>
            <key>match</key>
            <string>^export\s+.+(\s+as.+)?$</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.control.import.enso</string>
            <key>match</key>
            <string>^from\s+.+(\s+as.+)?\s+export.+$</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.control.import</string>
            <key>match</key>
            <string>^polyglot\s+java\s+import\s+.+(\s+as.+)?$</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.operator</string>
            <key>match</key>
            <string>[-!$%&amp;\*\+/&lt;=&gt;\?^|~:.]+|\b_\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.operator</string>
            <key>match</key>
            <string>=</string>
          </dict>
        </array>
      </dict>
      <key>entity</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>entity.name.function</string>
            <key>match</key>
            <string>\b[a-z][a-z|_]*\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>entity.name.type</string>
            <key>match</key>
            <string>\b[A-Z][a-z|0-9]*(_|[A-Z|0-9]|[a-z|0-9]*)*\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>entity.name</string>
            <key>match</key>
            <string>\b[a-z|A-Z]\w*\b</string>
          </dict>
        </array>
      </dict>
      <key>strings</key>
      <dict>
        <key>name</key>
        <string>string.quoted.double</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>string.quoted.double</string>
            <key>begin</key>
            <string>"</string>
            <key>end</key>
            <string>"</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>name</key>
                <string>constant.character.escape</string>
                <key>matches</key>
                <string>\"</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>contentName</key>
            <string>string.quoted.triple.begin</string>
            <key>begin</key>
            <string>^(\s*)("""|''')</string>
            <key>end</key>
            <string>^(?!\1\s+)(?!\s*$)</string>
            <key>beginCaptures</key>
            <dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>string.quoted.triple.begin</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>contentName</key>
            <string>string.quoted.triple.middle</string>
            <key>begin</key>
            <string>^(\s*)[^\s].*("""|''')</string>
            <key>end</key>
            <string>^(?!\1\s+)(?!\s*$)</string>
            <key>beginCaptures</key>
            <dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>string.quoted.triple.begin</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>name</key>
            <string>string.quoted.single</string>
            <key>begin</key>
            <string>\'</string>
            <key>end</key>
            <string>\'</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>name</key>
                <string>constant.character.escape</string>
                <key>matches</key>
                <string>\\'</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>constant</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>constant.character</string>
            <key>match</key>
            <string>\\u\{[A-F|0-9]{1,8}\}</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.character</string>
            <key>match</key>
            <string>\\u\{[A-F|0-9]{4}\}</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.character</string>
            <key>match</key>
            <string>\\U\{[A-F|0-9]{8}\}</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.character.escape</string>
            <key>match</key>
            <string>\\</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.character.escape</string>
            <key>match</key>
            <string>\"</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.character.escape</string>
            <key>match</key>
            <string>\'</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.character.escape</string>
            <key>match</key>
            <string>\[abfnrtve]</string>
          </dict>
          <dict>
            <key>name</key>
            <string>constant.character.numeric</string>
            <key>match</key>
            <string>\b[0-9]+(\.[0-9]+)?</string>
          </dict>
        </array>
      </dict>
      <key>comments</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>comment.block.documentation</string>
            <key>begin</key>
            <string>^(\s*)##</string>
            <key>end</key>
            <string>^(?!\1\s+)(?!\s*$)</string>
          </dict>
          <dict>
            <key>name</key>
            <string>comment.line.number-sign</string>
            <key>begin</key>
            <string>#</string>
            <key>end</key>
            <string>$</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>scopeName</key>
    <string>source.enso</string>
  </dict>
</plist>
